<!DOCTYPE html>
<html>
  <head>
    <title>RailsOauthExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <body>
    <%= yield %>
  </body>
</html>
